{% include "header.html" %}

<!-- Page Header-->
<header
        class="masthead"
        style="background-image: url('../static/assets/img/about-bg.jpg')"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Mr. R.K.N. Ocran</h1>
                    <span class="subheading">The founder and CEO of Mankoadze Group of companiesg.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Two (2) key personalities stand very tall when it comes to the history, promotion and development of
                    tuna fishing in Ghana. They are the late Robert Kwamena Nortey Ocran of Mankoazde Fisheries Ltd – a
                    Ghanaian, and the late Bok Nam Kim of Afko Fisheries – a Korean.</p>
                <p>The late Robert Ocran, of Mankoadze Fisheries, an entrepreneur of great repute in the fishing
                    industry in Ghana can be credited with pioneering contribution to the fishing sector in Ghana,
                    particularly the Tuna Sector. His role as a Ghanaian fisheries entrepreneur significantly opened up
                    the total fisheries value chain. His investment in the sector contributed to the development of the
                    Tuna Fishing, processing and marketing including exportation.</p>
                <p>He also provided training and opened up opportunities for Ghanaians to exhibit their skills,
                    employing thousands in the process and opening up the sector for partnership with Japanese, Russians
                    and Americans. In partnership with StarKist International of America, Robert Ocran caused the
                    canning equipment on his factory trawler vessel M/v Mankoadze to be moved to land, to start the
                    first ever tuna Cannery in Ghana and probably the West Coast.</p>
                <p>The cannery was named Manko Tuna, latter to be known as Pioneer Food Cannery as it remains till date.
                    In the early seventies, as demand from the cannery increased, he secured a Norwegian government
                    grant to construct four(4) brand new tuna vessels known as the Sterkoder vessels which operated a
                    triplex system as against the traditional power block system.</p>
                <p>It is equally worthy to mention that while Mankoadze Fisheries started operating her Tuna vessels
                    together with Star-Kist International, another American Tuna company, by name Van Camp’ Int., a
                    subsidiary of Ralston Purina Co. of US had also started operating tuna business in Ghana with a
                    Ghanaian Agent, EN.&nbsp; Soli Fisheries.</p>
                <p>Some of the Associated&nbsp; Companies operating in Ghana at that time for Van Camp Int were ‘Hae
                    Chang ’ Fisheries, ‘Dong Won’ Fisheries and few others. Those Associated companies operated more
                    than ten (10) Pole &amp; Line vessels.&nbsp; The crew were mainly Koreans and few Japanese
                    nationals. Due to some Political reasons at that time, Van Camp Int. had to wind up their operations
                    in Ghana and leave. Around the same period in 1978 a South Korean Businessman and Philanthropist by
                    name Mr. Bok- Nam Kim, Chairman /MD of AFKO FISHERIES CO. LTD managed to acquire two of Van Camp’s
                    Int tuna vessels in addition to one trawler vessel he had started operating&nbsp; in Tema.</p>
                <p>With good management and sound operating skills, he gradually managed to acquire and operated more
                    than (17) deep sea tuna and trawl vessels in Ghana, thus becoming the leading producer and exporter
                    of fishing products to the EU which culminated in AFKO receiving several Awards both locally and
                    internationally. It must be put on record that the Founder and Chairman of AFKO Fisheries Co. Ltd,
                    the Late Bok-Nam, KIM, was a driver and highly instrumental in the formation and running of the
                    Ghana Tuna Association, by contributing on several occasions to the numerous activities of both the
                    GTA and NAFAG(National Fisheries Association of Ghana).</p>
                <p>
                    Former President Flt. Lt. Jerry John Rawlings (rtd) on January 27, 2010  described the late Chief Executive
                    Officer of Mankoadze Fisheries, Robert Ocran as a man whose native intelligence exceeded some
                    academic, letter-wielding intellectuals.
                </p>
                <p>
                He said Mr. Robert Ocran was not afraid to expand his business horizons and was the first Ghanaian to
                breakthrough in large-scale fishing, migrating from fishing in small boats to trawler fishing and
                production of fish products.
                <p>
                    Speaking during a call by the family of Mr. Ocran ... the former
                    President said “more importantly in time of hunger during those angry days and he wisely brought
                    down the hunger and anger through the free supply of fish especially to the security forces and his
                    business almost became bankrupt as a result trying to save the country from any further expression
                    of outrage.”
                </p>
                <p>
                    Mr. Ocran was an ex-service man from the Recce Regiment before entering the fishing industry.
                </p>


            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}
